/* 
    Created on : 03.04.2015, 1:41:37
    Author     : Sync<atc58.ru>
*/
$page_width: 100%;
$page_color: #cccccc;
$bg_color: #FFFFFF;
$nav_height: 75px;
$nav_bg_color: #FFFFBA;
$menu_count: 3;
$max_menu_height: $nav_height;

html, body {width: 100%;height: 100%;min-height: 100%;background-color: $page_color;}
.wrap {
  margin: 0 auto;
  min-height: $page_width*0.9;
  width: $page_width;
  background-color: $bg_color;
  position: relative;
  & > .container {
    margin: ($max_menu_height) auto 0;
    padding: 0px 0px 20px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: 0;
  }  
}

.footer {
  width: $page_width;  
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 10px 0;
  position: relative;
  & > .container {
    width: 100%;
  }
}
  
.slider{
  top: 0px;
  right: 0px;
  height: 100%;
  width: 8px;
  float: right;
  border: 1px solid black;
  background: linear-gradient(to right, rgba(252,233,63,1) 1%,rgba(0,0,0,1) 20%,rgba(252,255,81,1) 53%,rgba(0,0,0,1) 80%,rgba(241,218,54,1) 100%);
  position: absolute;
}  

.navbar-1 {
    top: 0;    
    height: $nav_height;
    width: $page_width;
    margin: 0 auto;
    padding: 5px 0;
    background-color: $nav_bg_color;
    border-bottom: 1px solid #AAAAAA;
    border-radius: 5px;
    position: fixed;
    z-index: 1000;      
    a.navbar-header {
      top: 0;
      width: 400px;
      height: $nav_height;
      text-decoration: none;
      background-image: url('/img/logo_left.png');
      background-repeat: no-repeat;
      position: relative;
      display: block;
    }
}    

.left-menu{
  top: 0px;
  left: 0px;
  width: $page_width*0.1;
  height: 100%;
  padding: 30px 0 0px 5px;
  background-color: $nav_bg_color;
  position: absolute;
  z-index: 1;
  float: left;
  color: #0C557C;
  border-right: 1px solid #AAAAAA;
  border-radius: 10px;
  & > ul {
    height: 100%;
    padding: 0 10px 0;
    list-style: none;
    & > li {
      text-align: center;
      line-height: 40px;
      font-size: 15px;
      border-bottom: 1px solid #0C557C;      
      & > a{        
        text-decoration: none;
        display: block;
      }
      &:hover{
        color: black;
        font-weight: bold;
        background-color: #FFFFBA - #111111;
      }      
      &.active:after{
        content: "\25C0";
        margin: -40px 0 0 70px;
        color: white;
        font-size: 25px;
        text-shadow: -1px 0px 1px #999999;
        position: absolute;
      }
    }
  }
}
.content{
  top: 0;
  left: $page_width*0.11;
  width: $page_width - $page_width*0.11;
  height: 100%;
  float:left;
  border-radius: 10px;
  position: relative;  
}

#admin-user-form {
  .form-group{
    margin-bottom: 0px;
  }
}

.provider-list{
  .provider-record{
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    &:nth-child(odd){
      color: #DDD;
      background-color: #777;
    }
  }
  span{    
    display: block;
  }
}

.admin-order-info {
  span {
    font-weight: bold;
    display: block;
    div.info {
      font-weight: normal;
      display: inline-block;
    }
  }
  .admin-order-info-main, .admin-order-info-data, .admin-order-info-price, .admin-order-info-sum{
    padding: 10px 10px;
    display: block;
  }
}