/* 
    Created on : 01.01.2015, 22:42:34
    Author     : Sync<atc58.ru>
*/
#navbar-login{padding-bottom: 5px;background-color: #FFFFBA !important;display: none;}
.login-icon{margin-top: 2px;width: 26px;height: 26px;background-repeat: no-repeat;cursor: pointer;display: inline-block;}
.fb-icon{background-image: url('/img/fb_icon.png');}
.tw-icon{background-image: url('/img/tw_icon.png');}
.od-icon{background-image: url('/img/od_icon.png');}
.vk-icon{background-image: url('/img/vk_icon.png');}
.mm-icon{background-image: url('/img/mm_icon.png');}


