/* 
    Created on : 09.01.2015, 23:19:41
    Author     : Sync<atc58.ru>
*/

.menu-icon{background-repeat: no-repeat;background-size: 25px 25px;background-position: 2px 0;}
.menu-title{padding-left: 12px;color: black;width: 100%;line-height: 25px;font-size: 16pt;font-family: Impact, Arial, Helvetica, sans-serif;display: block;position: relative;}
.menu-describe{color: black;top: -8px;height: 25px;line-height: 10px;padding: 0 0 0 0;font-size: 8pt;font-family: Arial, Helvetica, sans-serif;display: block;position: relative;}
ul.nav-atc-list{text-align: center;margin: auto;padding: 0 0 0 0;list-style: outside none none;display: inline-block;position: relative;}
ul.nav-atc-list li{color: black;width: 150px;height: 60px;padding: 0 5px 0 5px;margin-top: 5px;border-left: 2px solid rgba(0, 0, 0, 0.5);float: left;}
ul.nav-atc-list li:hover{background-color: #BBFCFC;border-radius: 5px;border: 1px solid rgba(0, 0, 0, 0.3);border-right: none;}
ul.nav-atc-list li:first-child{border-left: none;}
ul.nav-atc-list li a {text-decoration: none; display: block;}
.basket   {background-image: url('/img/basket_icon.png');}
.balance  {background-image: url('/img/balance_icon.png');}
.consumer {background-image: url('/img/consumer_icon.png');}
.contact  {background-image: url('/img/contact_icon.png');}
.order    {background-image: url('/img/order_icon.png');}
.search   {background-image: url('/img/search_icon.png');}
.setup    {background-image: url('/img/setup_icon.png');}

