/* 
    Created on : 09.01.2015, 23:19:41
    Author     : Sync<atc58.ru>
*/
.navbar-search{height: 45px;width: 100%;margin: auto;margin-top: 70px;padding: 5px 10px 0px 10px;background-color: #FFFFBA !important;border-radius: 0 0 5px 5px;border-bottom: 1px solid black;position: relative;}.navbar-search ul{margin-left: auto;margin-right: auto;width: 80%;}
.navbar-search ul li{float:left;}
.navbar-search input[type="checkbox"].big-check{display: none;}
.navbar-search input[type="checkbox"].big-check+label{font-size: 11pt;line-height: 32px;height: 34px;color: #FFF;padding: 0px 10px 0px 40px;text-align: right;vertical-align: middle;background-image: none;background-position: 2px 2px;background-repeat: no-repeat}
.navbar-search input[type="checkbox"].big-check:checked+label{background-image: url('/img/green-checked.png'); background-size: 24px 24px;background-position: 10px 3px;}
.navbar-search .over-price{height: 34px;font-weight: bold;text-align: center;}
.search-helper{height: 20%;position: fixed;z-index: 1001;display: none;}
.search-helper select{border: 1px solid #999999;width: 100%;height: 100% !important;border-radius: 0 0 20px 10px;}