/* 
    Created on : 04.03.2015, 22:31:31
    Author     : Sync<atc58.ru>
*/
.navbar-1 {
  top: 0px;
  height: 75px;
  width: 60%;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #FFFFBA;
  border-bottom: 1px solid #AAAAAA;
  border-radius: 5px;
  position: fixed;
  z-index: 1000; }

.navbar-2 {
  top: 75px;
  height: 75px;
  width: 60%;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #FFFFBA;
  border-bottom: 1px solid #AAAAAA;
  border-radius: 5px;
  position: fixed;
  z-index: 1000; }

.navbar-3 {
  top: 150px;
  height: 44.11765px;
  width: 60%;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #FFFFBA;
  border-bottom: 1px solid #AAAAAA;
  border-radius: 5px;
  position: fixed;
  z-index: 1000; }

html, body {
  width: 100%;
  background-color: #cccccc; }

.wrap {
  margin: 0 auto;
  width: 60%;
  background-color: #FFFFFF; }
  .wrap > .container {
    margin: 194.11765px auto 0;
    padding: 0px 15px 20px;
    width: 100%;
    z-index: 0; }

.footer {
  width: 60%;
  margin: -20px auto;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 10px 0;
  position: relative; }

.navbar-small {
  height: 44.11765px; }

.navbar-1 a.navbar-header {
  top: 0;
  width: 400px;
  height: 75px;
  text-decoration: none;
  background-image: url("/img/logo_left.png");
  background-repeat: no-repeat;
  position: relative;
  display: block; }
.navbar-1 div.head-buttons {
  padding-right: 20px; }

.navbar-2 .basket {
  background-image: url("/img/basket_icon.png"); }
.navbar-2 .balance {
  background-image: url("/img/balance_icon.png"); }
.navbar-2 .consumer {
  background-image: url("/img/consumer_icon.png"); }
.navbar-2 .contact {
  background-image: url("/img/contact_icon.png"); }
.navbar-2 .order {
  background-image: url("/img/order_icon.png"); }
.navbar-2 .search {
  background-image: url("/img/search_icon.png"); }
.navbar-2 .setup {
  background-image: url("/img/setup_icon.png"); }

.navbar-3 form {
  padding: 0 10px; }
  .navbar-3 form div.over-price {
    border-radius: 4px; }
    .navbar-3 form div.over-price button {
      border-radius: 0 4px 4px 0 !important; }

ul.nav-line {
  list-style: none;
  width: 90%;
  height: 75px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: block; }
  ul.nav-line li {
    padding: 0;
    width: 16.12903%;
    height: 75px;
    vertical-align: top;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: relative; }
    ul.nav-line li a {
      text-decoration: none;
      display: block; }
    ul.nav-line li a:hover * {
      color: #5bc0de; }
  ul.nav-line li:first-child {
    border: none; }

.menu-title, .menu-describe {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 2px 0;
  margin: 0 5px;
  color: black;
  width: 100%;
  line-height: 25px;
  font-size: 16pt;
  font-family: Impact, Arial, Helvetica, sans-serif; }

.menu-describe {
  padding: 5px 0;
  height: 37.5px;
  width: 90%;
  line-height: 10px;
  font-weight: bold;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif; }

/*input[type="checkbox"]{
  display: none;
  text-align: right;
  vertical-align: middle;
  
  & + label{
    font-size: 11pt;    
    height: 34px;
    color: #FFF;
    padding: 6px 10px 0px 40px;
    text-align: center;
    vertical-align: middle;    
    background-image: url('/img/unchecked.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 5px 4px;
    position: relative;
  }
  & + label:hover{
    background-image: url('/img/over_checked.png');    
  }
  &:checked + label {
    font-weight: bold;
    background-image: url('/img/checked.png');
  }
}*/
select.over-price {
  height: 34px; }

.search-helper {
  top: 189.11765px;
  height: 194.11765px;
  position: fixed;
  display: none; }
  .search-helper select {
    width: 100%;
    height: 100%; }

ul.socnet-list {
  list-style: none;
  height: 26px; }
  ul.socnet-list li {
    width: 26px;
    height: 26px;
    background-repeat: none;
    background-size: 26px 26px;
    display: inline-block; }
    ul.socnet-list li a {
      text-align: center;
      font-size: 1pt;
      text-decoration: none;
      display: block;
      width: 26px;
      height: 26px; }
    ul.socnet-list li.fb-icon {
      background-image: url("/img/fb_icon.png"); }
    ul.socnet-list li.tw-icon {
      background-image: url("/img/tw_icon.png"); }
    ul.socnet-list li.od-icon {
      background-image: url("/img/od_icon.png"); }
    ul.socnet-list li.vk-icon {
      background-image: url("/img/vk_icon.png"); }
    ul.socnet-list li.mm-icon {
      background-image: url("/img/mm_icon.png"); }

.user-badge {
  margin: 0 auto;
  width: 600px;
  height: 350px;
  background-image: url("/img/badge_background.png");
  border-radius: 20px; }
  .user-badge .photo img {
    margin-left: 30px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.3), 4px 4px 4px rgba(0, 0, 50, 0.1), -4px -4px 4px rgba(0, 0, 50, 0.1);
    position: absolute; }
  .user-badge .id {
    text-align: center;
    top: 10px;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    position: relative; }
    .user-badge .id p {
      line-height: 60px;
      text-transform: uppercase;
      font-size: 24pt;
      font-weight: bold;
      background-clip: text;
      background-image: radial-gradient(rgba(49, 176, 217, 0.5), rgba(49, 176, 217, 0.1));
      color: rgba(255, 255, 200, 0.8);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.3), 4px 4px 4px rgba(0, 0, 50, 0.1), -4px -4px 4px rgba(0, 0, 50, 0.1); }
  .user-badge .text {
    float: right;
    width: 350px;
    font-size: 16pt;
    line-height: 20px;
    color: rgba(255, 255, 200, 0.8);
    font-family: courier, monospace;
    font-weight: bold; }
    .user-badge .text label {
      width: 100px;
      display: inline-block;
      position: relative;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.3), 4px 4px 4px rgba(0, 0, 50, 0.1), -4px -4px 4px rgba(0, 0, 50, 0.1); }
    .user-badge .text p.viewer {
      width: 200px;
      display: inline;
      position: relative; }
      .user-badge .text p.viewer span {
        cursor: pointer;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.3), 4px 4px 4px rgba(0, 0, 50, 0.1), -4px -4px 4px rgba(0, 0, 50, 0.1); }
      .user-badge .text p.viewer input {
        color: black;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        display: none; }
        .user-badge .text p.viewer input:focus {
          display: inline-block; }
  .user-badge a.btn {
    margin-top: 220px;
    margin-left: 250px;
    position: absolute; }
  .user-badge button[type='submit'] {
    margin-top: 220px;
    margin-left: 450px;
    position: absolute; }

.socnet-info {
  width: 600px;
  margin: 10px auto; }
  .socnet-info .panel-body {
    padding: 0; }
    .socnet-info .panel-body ul {
      padding: 0;
      margin: -5px 0 20px 10px; }

table.over-price-panel {
  text-align: center;
  width: 100%;
  border: none;
  border-collapse: collapse;
  position: relative; }
  table.over-price-panel tfoot tr td {
    line-height: 45px; }
  table.over-price-panel tr td, table.over-price-panel tr th {
    text-align: center;
    border: 1px solid #DDD;
    line-height: 20px; }
    table.over-price-panel tr td input, table.over-price-panel tr th input {
      text-align: center;
      width: 100%;
      border: none; }
      table.over-price-panel tr td input:hover, table.over-price-panel tr th input:hover {
        background-color: #EEE;
        cursor: pointer; }
      table.over-price-panel tr td input:focus, table.over-price-panel tr th input:focus {
        background-color: #EEE;
        cursor: default; }
    table.over-price-panel tr td a, table.over-price-panel tr th a {
      line-height: 10px; }

.carousel .carousel-indicators li {
  border-color: black; }
.carousel > div div.item {
  height: 280px; }
  .carousel > div div.item .carousel-caption {
    color: black; }
  .carousel > div div.item p {
    font-size: 10px;
    text-shadow: 0 0 1px #DDD; }
  .carousel > div div.item h4 {
    text-shadow: 0 0 1px #DDD; }
.carousel > div img {
  max-height: 280px;
  margin: 0 auto; }
.carousel .carousel-control.left {
  background-image: linear-gradient(to right, #269ABC 0%, transparent 100%); }
.carousel .carousel-control.right {
  background-image: linear-gradient(to right, transparent 0%, #269ABC 100%); }

.basket-time {
  font-size: 8pt; }

/*# sourceMappingURL=site.css.map */
