@charset "UTF-8";
/* 
    Created on : 04.03.2015, 22:31:31
    Author     : Sync<atc58.ru>
*/
html, body {
  width: 100%;
  background-color: #cccccc; }

.menu-wrap {
  top: 0;
  width: 68%;
  height: 200px;
  margin: 0 auto;
  position: fixed;
  z-index: 1001; }

.navbar-1, .navbar-2, .navbar-3 {
  height: 75px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #FFFFBA;
  border-bottom: 1px solid #AAAAAA;
  border-radius: 5px;
  position: relative; }

.navbar-3 {
  height: 44.11765px; }

.wrap {
  margin: 0 auto;
  width: 68%;
  background-color: #FFFFFF; }
  .wrap > .container {
    margin: 195px auto 0;
    padding: 0px 15px 20px;
    width: 100%;
    z-index: 0; }

.footer {
  width: 68%;
  margin: 0 auto;
  height: 80px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 10px 0;
  position: relative; }
  .footer .locator {
    width: 100%;
    position: relative; }
    .footer .locator > ul {
      width: 50%;
      margin: 0 auto;
      padding: 0;
      text-align: justify;
      list-style: none;
      vertical-align: top; }
      .footer .locator > ul > li {
        padding: 0;
        margin: 0;
        width: 20%;
        vertical-align: top;
        text-align: left;
        display: inline-block; }
        .footer .locator > ul > li ul {
          list-style: none;
          padding: 0;
          margin: 0;
          vertical-align: top; }
  .footer .pay-icons {
    list-style: none outside;
    margin: 0;
    padding: 0;
    display: inline-block; }
    .footer .pay-icons li {
      display: inline-block; }
      .footer .pay-icons li img {
        height: 16px;
        opacity: 0.8;
        margin: 0 -5px; }

.navbar-small {
  height: 44.11765px; }

.navbar-3 form > ul {
  list-style: outside none;
  width: 100%;
  margin: 0 auto;
  display: inline-block; }
  .navbar-3 form > ul li {
    padding: 0;
    margin: 0; }
    .navbar-3 form > ul li.dropdown button {
      border-radius: 5px 0 0 5px; }
  .navbar-3 form > ul > .search input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
  .navbar-3 form > ul .checkbox-wrap {
    top: 5px;
    height: 34px;
    padding: 0 4px;
    margin: 0;
    margin-right: -38px;
    float: left;
    border-radius: 0;
    border-right: none;
    position: relative; }
  .navbar-3 form > ul label {
    padding-left: 34px;
    border-radius: 0 5px 5px 0;
    border-left: none;
    float: left;
    margin: 0; }
    .navbar-3 form > ul label.cbx-company {
      border-right: medium none;
      border-radius: 0px; }
    .navbar-3 form > ul label button {
      border-radius: 0;
      float: left; }
  .navbar-3 form > ul .over-price button {
    border-radius: 0 4px 4px 0 !important; }
.navbar-3 form button {
  width: 100%; }
.navbar-3 form #search-btn {
  border-radius: 0px; }
.navbar-3 form li.sub-menu-main > ul {
  margin-left: -200%;
  margin-right: 100%; }

ul.nav-line {
  list-style: none;
  width: 95%;
  height: 75px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: block; }
  ul.nav-line li {
    padding: 0;
    height: 60px;
    vertical-align: top;
    border-left: 1px solid rgba(12, 85, 124, 0.37);
    display: inline-block;
    position: relative; }
    ul.nav-line li a {
      width: 100%;
      height: 100%;
      display: block; }
    ul.nav-line li a:hover p {
      color: #5bc0de; }
    ul.nav-line li p.menu-title {
      text-align: center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 2px 0;
      color: black;
      width: 100%;
      line-height: 25px;
      font-size: 16pt;
      font-family: Impact, Arial, Helvetica, sans-serif; }
      ul.nav-line li p.menu-title img {
        top: -2px;
        width: 20px;
        height: 20px;
        left: -3px;
        margin-left: -10px;
        display: inline-block;
        position: relative; }
        ul.nav-line li p.menu-title img.visible-sm {
          margin: 0 auto;
          top: 5px; }
      ul.nav-line li p.menu-title span {
        display: inline-block; }
      ul.nav-line li p.menu-title span.visible-sm {
        top: 10px;
        font-size: 12pt;
        text-align: center;
        margin: 0 !important;
        position: relative; }
    ul.nav-line li p.menu-describe {
      top: 20px;
      position: absolute; }
  ul.nav-line li:first-child {
    border: none; }

.menu-describe {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 2px 0;
  color: black;
  padding: 5px 0;
  height: 37.5px;
  margin: 0 5px;
  width: 90%;
  line-height: 10px;
  font-weight: bold;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif; }

select.over-price {
  height: 34px; }

.search-helper {
  top: 190px;
  height: 195px;
  width: 30%;
  position: fixed;
  display: none; }
  .search-helper select {
    width: 100%;
    height: 100%; }

ul.socnet-list {
  list-style: none; }
  ul.socnet-list li {
    width: 180px;
    height: 30px;
    margin: 5px 0px;
    background-repeat: none;
    border-radius: 10px;
    border: 1px solid #269ABC;
    background: -webkit-linear-gradient(bottom, #269ABC 23%, rgba(1, 169, 215, 0.21) 70%, rgba(105, 226, 240, 0.47) 0%);
    background: -moz-linear-gradient(bottom, #269ABC 23%, rgba(1, 169, 215, 0.21) 70%, rgba(105, 226, 240, 0.47) 0%);
    background: -o-linear-gradient(bottom, #269ABC 23%, rgba(1, 169, 215, 0.21) 70%, rgba(105, 226, 240, 0.47) 0%);
    background: linear-gradient(to top, #269ABC 23%, rgba(1, 169, 215, 0.21) 70%, rgba(105, 226, 240, 0.47) 0%);
    display: block; }
    ul.socnet-list li:hover {
      background: -webkit-linear-gradient(bottom, #2CC9F2 23%, rgba(102, 222, 255, 0.03) 70%, rgba(105, 240, 226, 0.16) 0%);
      background: -moz-linear-gradient(bottom, #2CC9F2 23%, rgba(102, 222, 255, 0.03) 70%, rgba(105, 240, 226, 0.16) 0%);
      background: -o-linear-gradient(bottom, #2CC9F2 23%, rgba(102, 222, 255, 0.03) 70%, rgba(105, 240, 226, 0.16) 0%);
      background: linear-gradient(to top, #2CC9F2 23%, rgba(102, 222, 255, 0.03) 70%, rgba(105, 240, 226, 0.16) 0%); }
    ul.socnet-list li a {
      top: -26px;
      color: white;
      font-size: 8pt;
      text-align: center;
      text-decoration: none;
      padding-left: 36px;
      font-weight: bold;
      vertical-align: baseline;
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.3), 4px 4px 4px rgba(0, 0, 50, 0.1), -4px -4px 4px rgba(0, 0, 50, 0.1); }
    ul.socnet-list li span.icon {
      padding: 0;
      margin: 0;
      width: 39px;
      height: 100%;
      display: block;
      border-right: 2px solid #1084A8; }
      ul.socnet-list li span.icon:after {
        width: 26px;
        top: 2px;
        padding-left: 6px;
        display: block;
        position: relative; }
      ul.socnet-list li span.icon.fb-icon:after {
        content: url("/img/fb_icon.png"); }
      ul.socnet-list li span.icon.vk-icon:after {
        content: url("/img/vk_icon.png"); }
      ul.socnet-list li span.icon.tw-icon:after {
        content: url("/img/tw_icon.png"); }
      ul.socnet-list li span.icon.od-icon:after {
        content: url("/img/od_icon.png"); }
      ul.socnet-list li span.icon.mm-icon:after {
        content: url("/img/mm_icon.png"); }

.socnet-info {
  max-width: 600px;
  margin: 10px auto; }
  .socnet-info .panel-body {
    padding: 0; }
    .socnet-info .panel-body ul {
      padding: 0;
      margin: -5px 0 20px 10px; }

table.over-price-panel {
  text-align: center;
  width: 100%;
  border: none;
  border-collapse: collapse;
  position: relative; }
  table.over-price-panel tfoot tr td {
    line-height: 45px; }
  table.over-price-panel tr td, table.over-price-panel tr th {
    text-align: center;
    border: 1px solid #DDD;
    line-height: 20px; }
    table.over-price-panel tr td input, table.over-price-panel tr th input {
      text-align: center;
      width: 100%;
      border: none; }
      table.over-price-panel tr td input:hover, table.over-price-panel tr th input:hover {
        background-color: #EEE;
        cursor: pointer; }
      table.over-price-panel tr td input:focus, table.over-price-panel tr th input:focus {
        background-color: #EEE;
        cursor: default; }
    table.over-price-panel tr td a, table.over-price-panel tr th a {
      line-height: 10px; }

.carousel .carousel-indicators li {
  border-color: black; }
.carousel > div div.item {
  height: 280px; }
  .carousel > div div.item .carousel-caption {
    color: black; }
  .carousel > div div.item p {
    font-size: 10px;
    text-shadow: 0 0 1px #DDD; }
  .carousel > div div.item h4 {
    text-shadow: 0 0 1px #DDD; }
.carousel > div img {
  max-height: 280px;
  margin: 0 auto; }
.carousel .carousel-control.left {
  background-image: linear-gradient(to right, #269ABC 0%, transparent 100%); }
.carousel .carousel-control.right {
  background-image: linear-gradient(to right, transparent 0%, #269ABC 100%); }

.basket-time {
  font-size: 8pt; }

.payment-select {
  display: inline; }
  .payment-select .radio {
    display: inline-block; }
    .payment-select .radio input[type="radio"] {
      margin: 8px 0 0 -20px; }

.part-loader {
  top: 3px;
  width: 28px;
  height: 16px;
  margin-left: 10px;
  background-image: url("/img/loading.gif");
  display: inline-block;
  position: relative; }
  .part-loader:after {
    content: "\00a0"; }

#full-list {
  top: 10%; }

#count-request {
  z-index: 2000; }

.search-articul-btn, .info-articul-btn, .lot-articul-btn {
  width: 10px;
  height: 10px;
  margin: -2px 5px;
  background-size: 10px 20px;
  background-repeat: none;
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .search-articul-btn:hover, .info-articul-btn:hover, .lot-articul-btn:hover {
    background-position: 0 -10px; }

.search-articul-btn {
  background-image: url("/img/search.png"); }

.info-articul-btn {
  background-image: url("/img/info_icon.png"); }

.lot-articul-btn {
  background-image: url("/img/lot_icon.png"); }

.tooltip-text {
  min-width: 450px;
  word-wrap: break-word;
  word-break: break-all;
  /* ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╨╡╤В Opera12.14, ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡ keep-all ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╨╡╤В╤Б╤П IE, Chrome */
  white-space: pre-line;
  font-size: 10px;
  line-height: 10px;
  color: #76C2DB; }

.tooltip-inner {
  max-width: 500px !important; }

/*# sourceMappingURL=site.css.map */
