/* 
    Created on : 11.12.2014, 23:24:02
    Author     : Sync
*/
.main-menu{top: 2px;margin-left: 20%;margin-right: 20%;background-color: #9CDAFB;border-bottom: 1px solid #5ac6ff;position: fixed;z-index: 1000;}
.head-logo{top: 15px;left: 5px;width: 323px;height: 60px;margin-right: 10px;background: url('/img/logo_left.png');float:left;position: relative;}
.head-logo a{width: 323px;height: 60px;display: block; text-decoration: none;}
.head-logo a:hover{text-decoration: none;}
.menu-spliter{top: 20px;height: 50px;width: 2px;background-color: #58C0E7;float: left;position: relative;}
.menu-item{top:  5px;width: 110px;height: 70px;float: left;position: relative;}
.menu-icon{top: 10px;left: 50%;width: 50px;height: 60px;margin-left: -25px;background-repeat: no-repeat;background-size: 50px 50px;position: relative;}
.menu-item a{top: -60px;padding-top: 55px;color: #000;text-align: center;font-family: "Tahoma",monospace;font-size: 15pt;font-weight: bold;cursor: pointer;display: block;position: relative;}
.menu-search{top:20px;width: 100%;padding: 0px 0px 5px;background-color: #9CDAFB;border-top: 2px solid #58C0E7;border-radius: 0 0 5px 5px;display: inline-block;position: relative;}
.search-line{top: 1px;width: 80%;margin-right: auto;margin-left: 10%;}
input[type="checkbox"].big-check{display: none;}
input[type="checkbox"].big-check+label{font-size: 11pt;line-height: 32px;height: 34px;color: #FFF;padding: 0px 10px 0px 40px;text-align: right;vertical-align: middle;margin-right: 10px;background-image: none;background-position: 2px 2px;background-repeat: no-repeat}
input[type="checkbox"].big-check:checked+label{background-image: url('/img/green-checked.png'); background-size: 24px 24px;background-position: 10px 3px;}
.over-price{height: 34px;margin-left: -10px !important;font-weight: bold;text-align: center;border: 1px solid #2E6DA4;  }

.basket   {background-image: url('/img/basket_icon.png');}
.balance  {background-image: url('/img/balance_icon.png');}
.consumer {background-image: url('/img/consumer_icon.png');}
.contact  {background-image: url('/img/contact_icon.png');}
.order    {background-image: url('/img/order_icon.png');}
.search   {background-image: url('/img/search_icon.png');}
.setup    {background-image: url('/img/setup_icon.png');}

.container{margin: 0 20%;width: 60%;position: relative;}
.contact-image{top: -8px;position: relative;}
.contact-ref{font-size: 14pt;font-weight: bold;}
.index-big-icon{left: 50%;width: 136px;height: 136px;margin-left: -68px;position: relative;}
.index-icon-text{font-size: 14pt;font-weight: bold;text-align: center;}
.index-list{list-style-image: url(/img/list_item.png);font-size: 14pt;font-weight: bold;text-align: left;}

.news-line{max-height: 120px;}
.news-line img{width: 100px;height: 100px;float: left;display: inline-block;}
.news-line label{top:-90px;left:100px;margin-right: 100px;position: relative;clear: left;}
.news-subtext{top: -100px;left: 10px;position: relative;}
.news-subtext label{top: 0px;left: 0px;margin-right: 100px;font-size: 7pt;position: relative;clear: left;}
.news-subtext a{top: 0px;left: 45%;padding: 0 0;line-height: 30px;color: #000;text-align: right;font-size: 10pt;position: relative;}

.setup-style label{min-width: 200px;}
.setup-style .panel-body label{min-width: 30px;}